name: 【Single-threaded】 Benchmark thread-safe ArrayList

on:
  push:
    branches:
      - main
    paths:
      - src/main/java/edu/sample/microbenchmark/BenchmarkSingleThreadArrayList.java
  pull_request:
    branches:
      - main
    paths:
      - src/main/java/edu/sample/microbenchmark/BenchmarkSingleThreadArrayList.java
  workflow_dispatch:

jobs:
  benchmark:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: 8
          distribution: corretto

      - name: Set up Maven Cache
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Install JMH dependencies
        shell: bash
        run: |
          mvn install:install-file -Dfile=lib/javolution-5.6.9_6.jar -DgroupId=javolution -DartifactId=javolution -Dversion=5.6.9 -Dpackaging=jar
          mvn install:install-file -Dfile=lib/osclock-universal.jar -DgroupId=uc.j -DartifactId=jOSClock -Dversion=1.0.3 -Dpackaging=jar

      - name: Build JMH benchmarks
        run: mvn clean install

      - name: Run JMH benchmarks
        shell: bash
        run: mvn exec:exec -Dexec.executable="java" -Dexec.args="-jar target/benchmarks.jar BenchmarkSingleThreadArrayList"